*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.main-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-container{
    width: 500px;
    padding: 2rem;
    box-shadow: 20px 20px 30px 30px #eeeeee;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fetch-info{
    padding-top:1rem ;
 }
.fetch-info>ul>li{
    list-style-type: none;
    padding-top:.5rem ;
}