* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

.colorBox {
    height: 200px;
    width: 200px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    display: none;

}

.colorBox:hover {
    box-shadow: 4px 4px 4px black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: red;
    padding-bottom: 2rem;
}

.btn {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.btn:hover {
    color: white;
    background-color: #59A557;
    box-shadow: 2px 2px 2px black;
}