 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #1e3c72, #2a5298);
    }

    .watch-box {
      background: #000;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
      border: 4px solid #2a5298;
    }

    #clock {
      font-size: 4em;
      color: #00ffea;
      font-family: "Orbitron", sans-serif;
      letter-spacing: 5px;
      text-shadow: 0 0 20px #00ffe1;
    }

 