  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background: #f2f2f2;
  }

  .top-bar {
    background: #222;
    padding: 15px 0;
    text-align: center;
  }

  .header-title {
    color: white;
    font-size: 24px;
  }

  /* Product Section   */
  .product-section {
    padding: 30px 10px;
  }

  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.2s;

  }

  .product-card:hover {
    transform: scale(1.02);
  }

  .product-img-box {
    text-align: center;
    height: 160px;
  }

  .product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .product-name {
    font-size: 18px;
    font-weight: bold;
  }

  .product-desc {
    font-size: 14px;
    color: #555;
  }

  .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
  }

  .addtocart-btn {
    width: 100%;
    padding: 8px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .addtocart-btn:hover {
    background: #444;
  }

  /* Cart Box   */
  .cart-box {
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  /* Cart Items */
  .cart-items {
    list-style: none;
    padding: 0;
    margin-top: 15px;
  }

  .cart-items li {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .cart-items li img {
    width: 40px;
    margin-right: 10px;
  }

  .qty-badge {
    background: #007bff;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
  }

  .remove-btn {
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #f5572f;
  }

  .remove-btn:hover {
    background-color: #f93403;
  }